.menu-navegacao {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .menu-navegacao ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .menu-navegacao li {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3em;   
    
  }
  
  a {
      text-decoration: none;
  }
  
  .menu-navegacao a:hover{
      background-color: #b18ba8;
  }




  .bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    
    background-color: #CEECF5;
    padding: 16px;
    height: 500px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    /*indiferente*/
    background-color: #CEECF5;
    padding: 16px;
    height: 500px;
}




.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-column {
    display: flex;
    flex-direction: column;

    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-column-reverse{
    display: flex;
    flex-direction: column-reverse;

    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-flexstart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}




.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-alignitems-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}




.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-align-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
} 

.bloco-1 {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-align-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
} 





.bloco1-sem-altura {
    background-color: #69be95;
    
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco2-sem-altura {
    background-color: #b18ba8;
    
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3-sem-altura {
    background-color: #d4677fb9;
    
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-alignitems-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}




.bloco1-fontes-diferentes {
    background-color: #69be95;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco2-fontes-diferentes {
    background-color: #b18ba8;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3-fontes-diferentes {
    background-color: #d4677fb9;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-alignitems-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}




.container-flexwrap-nowrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #CEECF5;
    padding: 20px;
    height: 400px;
}



.container-flexwrap-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}



.container-flexwrap-wrapreverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}


.container-flexflow-row-nowrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}


h1{
    color: #0B4C5F;
    background-color: #CEECF5;
}


.container-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}



.container-content-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}



.container-content-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}



.container-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}




.container-content-space-around {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #CEECF5;
    padding: 20px;
    height: 800px;
}